h1{
  text-align: center;
  color: rgb(130, 224, 213);
  font-family: "Geneva", sans-serif;
  font-style: italic;
  font-size: 40px
}
h3{
  font-family: "Futura", sans-serif;
  color: rgb(162, 171, 170)
}
ul{
  font-family: "Geneva", sans-serif;
} 
h3{
  font-family: "Futura", sans-serif;
  color: rgb(162, 171, 170)
}
ul{
  font-family: "Geneva", sans-serif;
}
#first-photo{
text-align: center;
margin-top: -8px;
margin-left: -8px;
}
#introduction{
  font-family: "Geneva", sans-serif;
  float: left;
  width: 950px
}
.contents{
  background-color: rgb()
}
#bottlenose-photo{
  float: right;
  position: relative;
  bottom: -50px;
  right: 6px;
}
#information-header{
  float: left;
  position: relative;
  top: -10px;
  right: 1px;
}
.information-question{
  float: left;
  position: relative;
  top: 50px;
  right:467px;
  font-family: "Futura", sans-serif;
  color: rgb(54, 186, 173);
  font-weight: bold;
  font-size: 16px;
}
#information{
  float: left;
  postition: relative;
  margin-top: 40px;
  font-family: "Geneva", sans-serif;  
}
#communication{
  float: left;
  position: relative;
  margin-top: 3px;
  font-family: "Geneva", sans-serif;
}
#dolphin-shell{
  float: left;
  margin-left: 5px;
}
#tools{
  font-family: "Geneva", sans-serif;
  float: right;
  position: relative;
  bottom: 210px;
  width: 75%
}
#question-two{
  float: left;
  position: relative;
  top: -130px;
  right:2px;
  font-family: "Futura", sans-serif;
  color: rgb(54, 186, 173);
  font-weight: bold;
  font-size: 16px;
}
#species-one{
  position: relative;
  float: left;
  margin-top: -130px;
  font-family: "Geneva", sans-serif;
}
#orca-header{
  position: relative;
  float: left;
  margin-top: -40px;
  font-family: "Futura", sans-serif;
  color: rgb(54, 186, 173);
  font-size: 17px;
}
#orcas{
  position: relative;
  margin-top: 180px;
  font-family:"Geneva", sans-serif;
}
#river-header{
  position: relative;
  float: left;
  margin-top: 2px;
  font-family: "Futura", sans-serif;
  color: rgb(54, 186, 173);
  font-size: 17px;
}
#orca-photo{
  float: right;
  margin-top: -75px;
  margin-right: 5px;
}
#river{
  position: relative;
  top: -15px;
  float: left;
  font-family: "geneva", sans-serif;
}
#river-two{
  position: relative;
  top: -30px;
  float: left;
  font-family: "geneva", sans-serif;
}
#spotted-header{
  position: relative;
  float: left;
  margin-top: -27px;
  font-family: "Futura", sans-serif;
  color: rgb(54, 186, 173);
  font-size: 17px;
}
#spotted-photo{
  float: left;
  margin-left: -248px;
  margin-top: 10px;
}
#spotted{
  position: relative;
  float: right;
  width: 79%;
  margin-top: 10px;
  font-family: "geneva", sans-serif;
}
#spinner-header{
  position: relative;
  float: left;
  margin-top: 200px;
  margin-left: -250px;
  font-family: "Futura", sans-serif;
  color: rgb(54, 186, 173);
  font-size: 17px;
}
#spinner{
  position: relative;
  float: left;
  margin-top: 55px;
  font-family: "geneva"
}
#question-three{
  float: left;
  position: relative;
  top: -10px;
  right:2px;
  font-family: "Futura", sans-serif;
  color: rgb(54, 186, 173);
  font-weight: bold;
  font-size: 16px;
}
#behavior-one{
  position: relative;
  float: left;
  margin-top: -10px;
  font-family: "geneva", sans-serif;
}
#sleep{
  position: relative;
  float: left;
  margin-top: 2px;
  font-family: "geneva", sans-serif;
}
#common-photo{
  float: right;
  margin-right: 5px;
  margin-top: 50px;
}
#social{
  position: relative;
  float: left;
  width: 75.4%;
  margin-top: 2px;
  font-family: "geneva", sans-serif;
}
#grief{
  postion: relative;
  float: left;
  width: 75.4%;
  margin-top: 2px;
  font-family: "geneva", sans-serif;
}
#reproduction{
  posiiton: relative;
  float: left;
  margin-top: -1px;
  font-family: "geneva", sans-serif;
}
#conservation-header{
  float: left;
  position: relative;
  top: -10px;
  right: 1px;
}
#conservation{
  position: relative;
  font-family: "geneva", sans-serif;
  color: rgb(51, 51, 51);
  font-size: 16px;
}
#whaling-header{
  font-family: "Futura", sans-serif;
  color: rgb(54, 186, 173);
  font-weight: bold;
  font-size: 16px;
  position: relative;
  margin-top: 5px; 
}
#whaling{
  position: relative;
  float: right;
  width: 75.4%;
  margin-top: -210px;
  font-family: "geneva", sans-serif;
  font-size: 16px;
  color: rgb(51, 51, 51);
}
#bycatch-header{
  font-family: "Futura", sans-serif;
  color: rgb(54, 186, 173);
  font-weight: bold;
  font-size: 16px;
  position: relative;
  margin-top: 12px; 
}
#bycatch-photo{
  position: relative;
  float: right;
  margin-right: 5px;
}
#bycatch{
  width: 75.4%;
  font-family: "geneva", sans-serif;
  font-size: 16px;
  color: rgb(51, 51, 51);
}
hr{
  float: left;
  position: relative; 
  margin-top: 20px;
  border: 1px solid black;
}
#sources{
  float: left;
  position: relative;
  top: -25px;
  right: 1px;
}
#photo-sources-header{
  font-family: "Futura", sans-serif;
  color: rgb(54, 186, 173);
  font-weight: bold;
  font-size: 16px;
  position: relative;
  float: left;
  margin-top: 37px;
  margin-left: -78px;
}
#photo-one-source{
  float: left;
  position: relative;
  margin-top: 73px;
  margin-left: -147px;
  font-family: "geneva", sans-serif;
}
#intro-photo-source{
  float: left;
  position: relative;
  margin-top: 103px;
  margin-left: -182px;
  font-family: "geneva", sans-serif;
}
#white-dolphin-source{
  float: left;
  position: relative;
  margin-top: 133px;
  margin-left: -182px;
  font-family: "geneva", sans-serif;
}
#orca-photo-source{
  float: left; 
  position: relative;
  margin-top: 165px;
  margin-left: -415px;
  font-family: "geneva", sans-serif;
}
#spotted-photo-source{
  float: left;
  position: relative;
  margin-top: 197px;
  margin-left: -415px;
  font-family: "geneva", sans-serif;
}
#common-photo-source{
  float: left;
  position: relative; 
  margin-top: 230px;
  margin-left:-415px;
  font-family: "geneva", sans-serif;
}
#dead-dolphins-source{
  float: left; 
  position: relative; 
  margin-top: 261px;
  margin-left: -415px;
  font-family: "geneva", sans-serif;
}
#boat-photo-source{
  float: left;
  position: relative; 
  margin-top: 293px;
  margin-left: -415px;
  font-family: "geneva", sans-serif;
}
#web-sources-header{
  float: left;
  position: relative; 
  margin-top: 330px;
  margin-left: -412px;
  font-family: "futura", sans-serif;
  color: rgb(54, 186, 173);
  font-weight: bold;
  font-size: 16px;
}
#overall-source{
  float: left;
  position: relative;
  margin-top: 365px;
  margin-left: -412px;
  font-family: "geneva", sans-serif;
}
#species-source{
  float: left;
  position: relative;
  margin-top: 396px;
  margin-left: -463px;
  font-family: "geneva", sans-serif;
}
#behavior-one-source{
  float: left;
  position: relative;
  margin-top: 427px;
  margin-left: -621px;
  font-family: "geneva", sans-serif;
}
#behavior-two-source{
  float: left;
  position: relative;
  margin-top: 459px;
  margin-left: -622px;
  font-family: "geneva", sans-serif;
}
#behavior-three-source{
  float: left;
  position: relative;
  margin-top: 493px;
  margin-left:-622px;
  font-family: "geneva", sans-serif;
}
#behavior-four-source{
  float: left; 
  position: relative;
  margin-top: 525px;
  margin-left: -662px;
  font-family: "geneva", sans-serif;
}
